<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo</title>
    {% load static %}
    <link rel="stylesheet" href="{% staticfiles 'autenticacao/index.css' %}" />
    </head>
<body>
    <div class="container">
        <h2>Bem-vindo, {{ user.username }}</h2>
        <p>Você está logado com segurança ao sistema.</p>
        <a href="{% url 'logout' %}">Logout</a>
    </div>
</body>
</html>
